<!DOCTYPE html ng-app = "app">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="UnicycleChat facebook group app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <!-- <link rel="stylesheet" href="app.css"> -->
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller = "MainCtrl">
    <div class="jumbotron" background >
        <h1> Unicycle Chat</h1> 
        <p ng-show="!loggedIn">Welcome to Unicycle Chat. Please log in.</p>
        <p ng-show="loggedIn"> Hello {{user.name}}! <p>
        <button type="button" class="btn btn-primary btn-large" data-ng-show="!loggedIn" ng-click="intentLogin()">Login with Facebook</button>
    </div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container" ng-show="loggedIn">
        <div class="row">
            <div class="col-sm-8" padding="10px" ng-repeat="post in feed.data">
                {{post.message}}
                <img ng-src="{{post.picture}}"/>
        
            </div>
        </div>
    </div>
  
    
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>

    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
