<!DOCTYPE html ng-app = "app">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="UnicycleChat facebook group app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <!-- <link rel="stylesheet" href="app.css"> -->
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller = "MainCtrl">
    
    <!-- header -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UnicycleChat</a>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about.html">About</a></li>
        <li><a href="#" data-prevent="" data-ng-show="!loggedIn" ng-click="intentLogin()">Login with FB</a></li>
        <li><a href="#" data-prevent="" data-ng-show="loggedIn" >{{user.name}}</a></li>

      </ul>

     <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table; border-radius:0px">
            <span class="input-group-addon" style="width:1%;border-radius:0px"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" style="border-radius:0px"name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text" ng-model="searchQuery">
          </div>
        </div>
      </form>

    </div><!--/.nav-collapse -->
  </div>
</div>
  
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
    </div>
    
    <!-- Jumbotron header 
    <div class="jumbotron" ng-style="{'background-image':'url({{groupCover.source}})'}">
        <h1> Unicycle Chat</h1> 
        <p ng-show="!loggedIn">Welcome to Unicycle Chat. Please log in.</p>
        <p ng-show="loggedIn"> Hello {{user.name}}! <p>
        <button type="button" class="btn btn-primary btn-large" data-ng-show="!loggedIn" ng-click="intentLogin()">Login with Facebook</button>
    </div>
    -->
    
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    
    <!-- view categories -->
    
    
    <!-- view feed --> 
    <div class="container" ng-show="loggedIn">
            <div class="panel panel-primary" ng-repeat="post in bigFeed.data | filter:searchQuery" style="border-radius:0px">
                <div class="panel-heading" style="border-radius:0px">
                <span>{{post.message.substring(0,100) + '...'}}</span>

                <span class="pull-right"><b >From: {{post.from.name}}</b> 
                <span class="badge" >{{post.likes.data.length}} likes</span>
                </span>
                </div>
                <div class="panel-body" style="border-radius:0px">
                    <p>{{post.message}}</p>
                <img ng-src="{{post.picture}}"/>
                
                <ul class ="list-group" ng-show="showComments">
                    <li class = "list-group-item"> <b>Comments:</b></li>
                    <li class = "list-group-item"  ng-repeat = "comment in post.comments.data"> 
                       <b>{{comment.from.name}}</b> {{comment.message}}
                    </li>
                </ul>
                </div>            
        
            </div>
        </ul>
    </div>
  
    
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>

    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
